@import "tailwindcss";

:root {
  --color-primary: #0a0a0a;
  --color-secondary: #ffffff;
  --color-accent: #3b82f6;
  --color-background: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-background);
  color: var(--color-primary);
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 0.5rem 0.25rem;
}
